.form {
   display: flex;
   flex-direction: row;
   column-gap: 5px;
   margin-bottom: 15px;
}

.input {
   font-size: 20px;
   padding: 5px;
   border-radius: 10px;
   border: none;
   outline: none;
}

.button {
   border-radius: 10px;
   border: none;
   padding: 5px 10px 5px 10px;
   cursor: pointer;
   transition: background-color 0.3s ease;
   outline: none;
}

.button:hover {
   background-color: rgb(187, 199, 206);
}